.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);

  .modalContainer {
    position: relative;
    z-index: 2;
    max-width: 500px;
    top: 45%;
    width: 90%;
    background: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    margin: auto;
    box-sizing: border-box;
  }

  .closeModal {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: #000;
    cursor: pointer;
  }
}
